HospitalWcfWebClient/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HospitalWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HospitalWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InserPatient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pesel" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InserPatient" nillable="true" type="tns:InserPatient" />
  <xs:complexType name="getData">
    <xs:sequence>
      <xs:element minOccurs="0" name="patientsTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getData" nillable="true" type="tns:getData" />
  <xs:complexType name="UpdatePatient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pesel" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Pid" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatePatient" nillable="true" type="tns:UpdatePatient" />
  <xs:complexType name="DeletePatient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeletePatient" nillable="true" type="tns:DeletePatient" />
  <xs:complexType name="AddVisit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="Recognition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recommendation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddVisit" nillable="true" type="tns:AddVisit" />
  <xs:complexType name="getVisits">
    <xs:sequence>
      <xs:element minOccurs="0" name="visitsTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getVisits" nillable="true" type="tns:getVisits" />
  <xs:complexType name="DeleteVisit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Vid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteVisit" nillable="true" type="tns:DeleteVisit" />
</xs:schema>